.icon {
  background-color: currentColor;
  width: 2.2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 0.25rem;
  position: relative;
  &.social {
    background-color: transparent;
    padding: 0;
    svg,
    path {
      fill: currentColor !important;
    }
  }
  svg {
    position: absolute;
    height: 80%;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  svg,
  path {
    fill: white !important;
  }
}
