@use '../../../styles/variables';
.template {
  overflow: auto;
  // width: 1200px;
  max-height: calc(100vh - 8rem);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
  background-color: variables.$lightColor;
}
