$primary-font: "Overpass", sans-serif;
$secondary-font: sans-serif;
$dragNDropWidth: 12rem;
$primaryFontSize: 1.1rem;
$primaryColor: #2B343D;
$secondaryColor: #00C8AA;
$strongColor: #313B47;
$darkColor: #282c34;
$strongDarkColor: #1d1f22;
$lightColor: #425061;
$whiteColor: #fff;
$lightWhiteColor: rgb(212, 212, 212);
$blackColor: #000;
$lightRedColor: #F27575;
$lightGreyColor: #9b9b9b;
$strongGreyColor: #EBEBEB;
$dividerColor: #BFC2C4;
$redColor: #EE4539;
$veryLightRedColor: #F6A29C;