.block {
  position: relative;
  padding: 0 2rem;
  padding-top: 80px;
  &-bar {
    position: absolute;
    left: -1.5rem;
    top: 0;
    z-index: 999;
  }
  &:first-of-type:not(.is-child) {
    padding-top: 20px;
  }
  &.is-child {
    padding-top: 20px;
    .block-header {
      display: none;
    }
  }
}
