%floatLeft {
  float: left;
}

%clearFloat {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

%profileInfo {
  .profile-info {
    float: left;
    width: calc(100% - 15rem);
  }
}

%profileSocial {
  .profile-social {
    clear: left;
    .btn {
      @extend %floatLeft;
      width: 50%;
    }
    @extend %clearFloat;
  }
}

%twoEqualColumn {
  .profile-content {
    @extend %floatLeft;
    width: 50%;
  }
  .profile-social {
    @extend %floatLeft;
    width: 50%;
  }
}

%twoLeftThanRight {
  @extend %profileInfo;
  .profile-social {
    @extend %floatLeft;
    width: calc(30% - 0.5rem);
    margin-left: 0.5rem;
  }
  .profile-content {
    @extend %floatLeft;
    width: calc(70% - 0.5rem);
    margin-right: 0.5rem;
  }
}

%btnRightAlign {
  .btn {
    flex-direction: row-reverse;
    justify-content: flex-start;
    .icon {
      margin-left: 0.5rem;
      margin-right: 0;
    }
  }
}

%avatarLeft {
  .avatar {
    @extend %floatLeft;
  }
}

.profile {
  position: relative;
  @extend %clearFloat;
}

.combined,
.professional,
.college {
  @extend %twoEqualColumn;
  @extend %btnRightAlign;
  .profile {
    display: flex;
    min-height: 27rem;
    padding: 2rem;
  }
  .avatar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .btn {
    &:first-of-type {
      padding-top: 0;
    }
  }
}

.executive,
.basic,
.simple {
  @extend %avatarLeft;
  @extend %profileInfo;
  @extend %profileSocial;
  .profile-content {
    padding: 2rem;
    @extend %clearFloat;
  }
  .profile-info {
    padding-left: 2rem;
    padding-top: 1rem;
  }
  .profile-social {
    padding: 1rem 2rem;
    margin-bottom: 1rem;
  }
}

.tech,
.it,
.modern {
  @extend %twoLeftThanRight;
  // @extend %btnRightAlign;
  @extend %avatarLeft;
  .profile {
    display: flex;
    padding: 2rem;
  }
  .profile-content {
    padding: 1.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .profile-social {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .profile-info {
    padding: 1rem;
  }
  .btn {
    &:first-of-type {
      padding-top: 0;
    }
  }
}

.skilled_based {
  @extend %profileSocial;
}

//
.combined {
  .profile-content {
    background-color: #313c4e;
    border-radius: 0.75rem;
    color: white;
  }
  .profile-info {
    padding: 2rem 10rem 2rem 2rem;
  }
  .avatar {
    top: 5rem;
  }
}

.professional {
  .profile {
    border-bottom: 1px solid black;
  }
}

.professional,
.college {
  .profile-info {
    padding: 0rem 10rem 2rem 0rem;
  }
}

//
.executive {
  .profile-social {
    background-color: #f1f1f1;
  }
}

.basic {
  .profile-social {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}

.simple {
  .profile-social {
    background-color: #313c4e;
    color: white;
  }
}

//
.tech {
  .profile {
    padding: 1rem;
  }
  .profile-content {
    background-color: #ebebeb;
  }
  .profile-social {
    padding: 2rem;
    background-color: #313c4e;
    color: white;
  }
}

.it,
.modern {
  .profile {
    padding-left: 2rem;
  }
  .profile-content {
    padding-left: 0;
  }
}

.it {
  .profile {
    padding: 1rem;
  }
  .profile-social {
    padding: 2rem;
    background-color: #313c4e;
    color: white;
    border-radius: 0.5rem;
    width: 30%;
  }
  .profile-content {
    padding-left: 2rem;
  }
}

.modern {
  .profile-content,
  .profile-social {
    padding-top: 0;
  }
  @extend %btnRightAlign;
}

//
.functional {
  .avatar {
    height: calc(13rem + 2rem);
    padding: 2rem;
  }
  .avatar-img {
    height: 13rem;
    width: 13rem;
    max-width: none;
  }
  .profile-social {
    padding: 0 2rem;
    padding-top: 2rem;
  }
  .profile-info {
    padding: 2rem 0 0 2rem;
  }
  .profile-info-container {
    min-height: 7rem;
    background-color: #313c4e;
    color: white;
    padding: 3rem 2rem;
  }
}

//
.minimalist {
  .avatar {
    height: calc(13rem + 2rem);
    padding: 2rem;
  }
  .avatar-img {
    height: 13rem;
    width: 13rem;
    max-width: none;
  }
  .profile-info,
  .profile-social {
    padding: 2rem;
  }
  .profile-social {
    padding-top: 0;
    padding-bottom: 0;
  }
  @extend %profileSocial;
}

//
.skilled_based {
  .avatar {
    width: calc(17rem);
    height: calc(15rem);
    padding: 2rem 2rem 0 2rem;
  }
  .avatar-img {
    height: 13rem;
    width: 13rem;
    max-width: none;
  }
  .profile-info,
  .profile-social {
    padding: 2rem;
  }
  .profile-social {
    padding-top: 0;
    padding-bottom: 0;
  }
  .profile-social-container {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #313c4e;
    color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    @extend %clearFloat;
  }
  @extend %profileSocial;
}

/****/
.one-column.skilled_based,
.one-column.functional,
.one-column.minimalist {
  .avatar {
    float: left;
  }
  .profile-info {
    padding: 3rem 0 0 0;
    width: calc(100% - 20rem);
    float: left;
  }
  .profile-social {
    padding-bottom: 1rem;
  }
}

.one-column.functional {
  .avatar {
    padding: 2rem;
  }
  .profile-info {
    margin-left: 2rem;
    padding-top: 2rem;
    width: calc(100% - 18.997rem);
    &-container {
      min-height: 8rem;
      padding-bottom: 2rem;
    }
  }
  @extend %profileSocial;
  .profile-social {
    padding-top: 0;
  }
}
