.field {
  word-break: break-word;
  // display: none !important;
  font-size: 1.2rem;
  &-input {
    display: block;
    border: none;
    outline: none;
    width: 100%;
    word-break: break-word;
    border-bottom: 1px solid lightgray;
    border-bottom-style: dashed;
    &:focus {
      border-bottom: 1px solid #00c8aa;
    }
    u {
      text-decoration: none;
      border-bottom: 1px solid currentColor;
    }
    /*Content Editable placeholder for input*/
    &.date[placeholder]:empty:before {
      content: attr(placeholder);
      position: absolute;
      background-color: transparent;
    }
    &[placeholder]:empty:before {
      content: attr(placeholder);
      color: #888;
      font-style: italic;
    }
    &.detail {
      margin-left: 1rem;
    }
  }
  &-bullet {
    margin-right: 0.4rem;
    height: 0.5rem;
    width: 0.5rem;
    float: left;
    background-color: currentColor;
    border-radius: 50%;
    top: 0.6rem;
    position: relative;
  }
  .icon {
    float: left;
    margin-right: 0.5rem;
  }
  &.title {
    font-size: 1.4rem;
    .field-input {
      float: left;
      width: calc(100% - 3.2rem);
    }
  }
  &::after {
    content: '';
    display: block;
    clear: left;
  }
}
