.btn {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: capitalize;
  position: relative;
  background: transparent;
  border-radius: 0.5rem;
  border: none;
  color: currentColor;
  cursor: pointer;
  &.add {
    border-radius: 50%;
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    background-color: currentColor;
    svg {
      margin-right: 0;
    }
  }
  &.download {
    background-color: #00c8aa;
    color: white;
    border-radius: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    svg,
    path {
      fill: currentColor;
    }
  }
  &.primary {
    background-color: #00c8aa;
    color: white;
    border-radius: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  &.remove {
    background-color: #ee4539;
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 0;
  }
  path {
    fill: currentColor;
  }
  svg {
    position: relative;
    height: 1.3rem;
    width: 1.3rem;
    fill: currentColor;
    margin-right: 0.2rem;
  }
}
