.document-list {
  padding: 5rem;
  max-width: 1920px;
  margin: 0 auto;
  &-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
  }
}

.preview {
  height: 22rem;
  width: 20rem;
  padding: 0;
  border: none;
  float: left;
  &-box {
    height: calc(100% - 2rem);
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 0.25rem;
    &-inner {
      transform: scale(0.27);
      left: -7.5rem;
      top: -7.5rem;
      position: absolute;
      right: 0;
      height: 100%;
      width: 100%;
    }
  }
  &-title {
    color: white;
    font-size: 1.2rem;
    height: 2rem;
  }
  &-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #999ea3;
    opacity: 0.35;
    cursor: pointer;
  }
}
