.panel {
  width: 1200px;
  min-height: 1320px; //1320 + 180 = 1500
  padding-bottom: 180px;
  background-color: white;
  margin: 0 auto;
  &:not(:first-of-type) {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }
  &.two-column {
    .even {
      width: 50%;
      float: left;
    }
    .odd {
      width: 50%;
      float: right;
    }
  }
}
